/* gray #CBCCCB */
/* black #1A1A1A */
/* purple #9D9BC3 */

@media screen and (min-width : 0px){

  body {
    background-color: #CBCCCB;
    padding-bottom: 0;
  }

  .tours {
    display: flex;
    flex-direction: column;
    height: 87vh;
  }

  .tourDetails {
    display: flex;
    border-bottom: 2px solid black;
    padding: 10px;
    height: 33%;
    align-items: center;
  }

  .tourDetails:last-child {
    border-bottom: none;
  }

}

@media screen and (min-width : 1200px){

    .tours {
      display: flex;
      flex-direction: column;
      height: 76vh;
    }
}
