/* gray #CBCCCB */
/* black #1A1A1A */
/* purple #9D9BC3 */

@media screen and (min-width : 0px){

  body {
    background-color: #CBCCCB;
    padding-bottom: 5vh;
  }

  .title p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .aboutText {
    margin-top: 2em;
  }

  .aboutText p {
    font-size: 5.3vw;
    padding-left: 10px;
    padding-right: 10px;
  }
  .aboutText a {
    text-decoration: none;
    color: black;
    font-size: 5.3vw;
  }

  .about-partner{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0.5em;
  }

  .about-partner a{
    display: flex;
    align-items: center;
  }

  a img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
  }
}

@media screen and (min-width : 1000px){


  .aboutText p{
      font-size: 2.5vw;
      line-height: 1.2;
    }

    .impre-dsgvo-title{
        font-size: 3.8vw !important;
      }

    .aboutText a {
      font-size: 2.5vw;
    }

    .aboutText {
      margin-top: 1.5em;
    }


    .aboutWrapper {
      margin: 0 auto;
      padding-left: 10vw;
      padding-right: 10vw;
    }
}
