/* gray #CBCCCB */
/* black #1A1A1A */
/* purple #9D9BC3 */

@media screen and (min-width : 0px){

  body {
    background-color: #CBCCCB;
    padding-bottom: 5vh;
  }

  .title {
    padding-left: 10px;
    margin-top: 2.2em;
    margin-bottom: 0.8em;
  }

  .title:nth-child(1){
    margin-bottom: 0.3em;
  }

  .partnerSpace {
    font-size: 5.3vw;
    border-top: solid 2px black;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    outline: none;
  }

  .partnerSpace:hover{
    cursor: pointer;
  }

  .partnercontent{
    width: min-content;
    padding-bottom: 1em;
    display: none;
  }

  .partnerSpace:focus .partnercontent {
      display: flex;
    }


  .partnercontent p{
    width: 82vw;
    padding-right: 0;
  }

  .partnercontent img {
    margin-top: 0.7em;
    padding-left: 0.5em;
    padding-right: 1em;
    width: 95vw;
    height: 79vw;
    max-width: 1000px;
    max-height: 750px;
  }


  .partnerSpaces{
    border-bottom: solid 2px black;
  }

  .title p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .partnerSpace p {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }
  .spacesLA p {
    font-size: 5.3vw;
    padding-left: 10px;
    padding-right: 10px;
  }

  .spacesBerlin p {
    font-size: 5.3vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width : 1000px){



  .partnerSpace {
    font-size: 3vw;
  }
.spacesLA p {
      font-size: 3vw;
    }

    .partnerSpaces{
      border-bottom: solid 3px black;
    }

    .partnerSpace {
      border-top: solid 3px black;
    }

.spacesBerlin p{
    font-size: 3vw;
  }


  }
}
